/*VARIABLES CSS */
/* EL root es el selector padre */
:root {
    --colorprimario: #EC111A;
    --colorsecundario: #082BA5;
    --colorterciario: #007BDF;
    --colortitulos: #282D31;
    --colorparrafos: #53575A;
    --colorsombras: #282D31;
}

/*SELECTOR UNIVERSAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 1em;
    background-color: white;
    max-width: 6000px;
    box-shadow: 0 0 6px var(--colorsombras);

}

input {
    width: 100%;
    border-radius: 4px;
    border: 1.5px solid var(--colorprimario);
    margin-bottom: .5em;
    height: 2em;
}

textarea {
    width: 100%;
    max-height: 150px;
    min-height: 100px;
    border: 1.5px solid var(--colorprimario);
    border: none;
}

.boton {
    background-color: var(--colorprimario)
    transition: background-color .3s ease-in-out;

}

.boton:hover{
    background-color: var(--colorsecundario)
}